################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hello-world/FileContentIndex
/obj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/hello-world/v17
/.vs
/bin/Debug/net6.0
/bin/Release/net6.0
/wwwroot/img/backup imgs
