################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hello-world/FileContentIndex
/obj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/hello-world/v17
